rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write for all collections within the applet
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
